<div class="wrapper">
  <form #formData="ngForm">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Рассылка сообщений подписчикам</mat-card-title>
      </mat-card-header>
      <mat-card-content class="block-input">
          <div class="block-input">
            <mat-form-field class="select">
              <mat-select ngModel name="subscription" placeholder="Выберите аудитоию подписчиков" required>
                <mat-option *ngFor="let s of subscriptions" value="{{s.id}}">{{s.topic}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <textarea name="text" matInput placeholder="Текст сообщения" ngModel=""
                        cols="280" required></textarea>
            </mat-form-field>
            <input (change)="onUploadFile($event.target.files[0])" type="file" accept=".png, .jpg, .jpeg" name="files" multiple>
          </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="btn positive" (click)="onSubmit(formData)"
                [disabled]="disabledButton(formData)">
          Начать рассылку
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
  <div class="response">
      <p *ngIf="response">{{response}}</p>
  </div>
</div>
