.card {
  max-width: 900px;
}

.wrapper {
  padding: 25px;
}

.block-input {
  display: flex;
  flex-direction: column;
}

.block-input > * {
  width: 100%;
}

.select {
  width: 45% !important;
}

textarea {
  height: 200px;
}

mat-card-title {
  color: #312d3a;
}

.block-input {
  margin: 10px 5px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

.response {

}
